<table class="table table-bordered table-sm" style="text-align: center;">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Time</th>
      <th scope="col" class="dw" data-day="0">MON</th>
      <th scope="col" class="dw" data-day="1">TUE</th>
      <th scope="col" class="dw" data-day="2">WED</th>
      <th scope="col" class="dw" data-day="3">THU</th>
      <th scope="col" class="dw" data-day="4">FRI</th>
      <th scope="col" class="dw" data-day="5">SAT</th>
      <th scope="col" class="dw" data-day="6">SUN</th>
    </tr>
  </thead>
  <tbody id="calendar">
  </tbody>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Time</th>
      <th scope="col" class="dw" data-day="0">MON</th>
      <th scope="col" class="dw" data-day="1">TUE</th>
      <th scope="col" class="dw" data-day="2">WED</th>
      <th scope="col" class="dw" data-day="3">THU</th>
      <th scope="col" class="dw" data-day="4">FRI</th>
      <th scope="col" class="dw" data-day="5">SAT</th>
      <th scope="col" class="dw" data-day="6">SUN</th>
    </tr>
  </thead>
</table>
