<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		{{#if style}}<link rel="stylesheet" href="/cdn/{{style}}.css">{{/if}}
		<link rel="manifest" href="/cdn/manifest.webmanifest">
		<link rel="icon" href="/cdn/icon192.png">
		<title>{{title}}</title>
	</head>
	<body>
		{{{body}}}
		<nav class="navbar navbar-dark bg-dark">
			<span class="navbar-text">
				🙂
			</span>
			<a href="https://github.com/stefanovazzocell/WebScheduler" target="_blank" class="btn btn-outline-light btn-sm btn-only-sm">GitHub</a>
		</nav>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		{{#if scripts}}
			{{#each scripts}}
	    	<script src="/cdn/{{this}}.js"></script>
	    {{/each}}
		{{/if}}
	</body>
</html>
