<nav class="navbar fixed-top navbar-dark bg-dark">
  <span class="navbar-brand" style="font-size: 110%;">Scheduler</span>
  <span class="navbar-text message" style="color: #fff;">{{{message}}}</span>
</nav>
<div class="container-fluid" style="padding-top: 80px; padding-bottom: 80px;">
  <div class="alert alert-danger" style="display: none;" id="alert-wp">
    🔑 Your authentication code is expired or invalid. Please, try checking your emails again.
  </div>
  <div class="alert alert-danger" style="display: none;" id="alert-bf">
    🚨 Your IP is temporarely banned from making requests to our server since it has been caught trying to brute force an access code. Try again in 5 minutes.
  </div>
  <br>
  <nav>
    <div class="nav nav-tabs" role="tablist">
      <a class="nav-item nav-link active" data-toggle="tab" href="#nav-tas" role="tab">TA</a>
      <a class="nav-item nav-link" data-toggle="tab" href="#nav-coordinator" role="tab">Coordinator</a>
    </div>
  </nav><br>
  <div class="tab-content" style="padding-right: 20px; padding-left: 20px;">
    <div class="tab-pane fade show active" id="nav-tas" role="tabpanel">
      <form id="ta-login">
        <h4>TA Login</h4><br>
        <div class="form-group">
          <label for="code">Your secret code</label>
          <input type="text" class="form-control" id="ta-secret" placeholder="Enter your secret code">
          <small class="form-text text-muted">Check your emails to view your code</small>
          <small class="form-text text-muted">Don't share your secret with others</small>
          <small class="form-text text-muted">Remember to logout if you're using a public machine</small>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
    <div class="tab-pane fade" id="nav-coordinator" role="tabpanel">
      <form id="coordinator-login">
        <div class="form-group">
          <h4>Coordinator Login</h4><br>
          <label for="code">Your secret code</label>
          <input type="text" class="form-control" id="coordinator-secret" placeholder="Enter your secret code">
          <small class="form-text text-muted">Check your emails to view your code</small>
          <small class="form-text text-muted">Don't share your secret with others</small>
          <small class="form-text text-muted">Remember to logout if you're using a public machine</small>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</div>
