body {
	min-width: 360px;
}

.table-wrapper {
	overflow: auto;
	width: 100%;
	/* disabled text selection */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Day of the week */
.dw {
	min-width: 50px;
}

/* Selected time slot */
.sts {
	opacity: 0.3;
}

/* Over time slot */
.ots {
	opacity: 0.5;
}

hr { 
	background-color: black;
	width: 80%;
}